Chat instantly across the globe.
<br>
Keep in touch through audio and video calls.
<br>
The only people who see your conversations are the people you're talking with.
<br>
<br>

<a href="https://itunes.apple.com/app/apple-store/id933117605?pt=107449857&ct=antidote.im&mt=8">
    <img src="images/appstore.svg" alt="Download on App Store">
</a>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/Antidote-for-Tox/Antidote">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:feedback@antidote.im">Contact</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-paypal fa-lg main-list-item-icon"></span>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JEYT48HFTWFP4">Donate Paypal</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-btc fa-lg main-list-item-icon"></span>
    <a href="https://blockchain.info/address/1Jo8W4VBDGDb4ebZBSs71wNDcWeNoMPitV">Donate Bitcoin</a>
  </li>
</ul>
