<h2>TestFlight Beta Testing</h2>
<p>Antidote is available for beta testing via TestFlight. If you wish to participate, you must:</p>
<ul>
  <li>Be on iOS 8+.</li>
  <li>Install <a href="https://itunes.apple.com/us/app/testflight/id899247664">TestFlight</a> from AppStore.</li>
  <li>Send your Apple ID email to <a href="mailto:beta@antidote.im?subject=Beta%20testing">beta@antidote.im</a>.</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/Antidote-for-Tox/Antidote">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:feedback@antidote.im">Contact</a>
  </li>
  <li>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="JEYT48HFTWFP4">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
  </li>
</ul>
